# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.github/
/tests/recorder.spec.ts


# Saved browser session – NEVER commit (contains auth tokens)
auth/user.json

# Environment variables – NEVER commit (contains credentials)
#.env
